<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pandora_Green_Spot_POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pandora_Green_Spot_POS.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="PrivLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="CashierName" serializeAs="String">
                <value />
            </setting>
        </Pandora_Green_Spot_POS.Properties.Settings>
    </userSettings>
</configuration>